.container{
    display: grid;
    grid-template-areas: 
          "header header"
          "nav main"
          " footer footer";
    grid-template-columns: 200px 1fr;      
    grid-template-rows: auto 1fr auto;
    min-height: 100vh;
    min-width: 1200px;
    gap: 10px;
    margin: 0 auto;
}
header{
    grid-area: header;
    background-color: darkkhaki;
    color: dimgrey;
    padding: 10px;
    text-align: center ;
    border-radius: 10px;
 }

nav{
    grid-area: nav;
    background-color: darkkhaki;
    color: lightslategray;
    padding: 0;
    position: sticky;
    align-self: start;
    top: 10px;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

nav ul li a {
  color: olive;
   text-decoration: none;
   font-size: 18px;
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


nav ul li a:hover {
    text-decoration: underline;
}

main {
    grid-area: main;
    background: color darkkhaki;
    border-radius: 10px;
    border: solid 1px darkkhaki;
} 

main .contenSection{
    /* padding: 10px; */
    margin: 10px;
}
.flexSection {
    display: flex;
    gap: 10px;
    padding: 10px;
}
 
.flexItem {
    background-color:  palegoldenrod;
    border:  solid 1px darkkhaki;
    border-radius: 10px;
    padding: 10px;
    flex: 1;
    text-align: center;
}

img{
    max-width: 50%;
    height: auto;
    border-radius: 10%;
}

.servicelist{
   display: flex;
   gap: 20px;
   margin-top: 15px;
}

.serviceItem{
    background-color: cornsilk;
    border-left: solid 5px darkgreen;

}
.contactform{
    display: flex;
    flex-direction: column;
    gap: 10px;
   margin-top: 15px;
   }

.contactform textarea{
    /* width: 10px; */
    border: 1px solid #ccc;
    /* box-sizing: border-box; */
    resize: none;
    
}

.contactform button{
    /* align-self: flex-start; */
    font-weight: bold;
    width: 30%;
    margin: auto;
}

footer{
    grid-area: footer;
    background-color: darkkhaki;
    color: white;
    text-align: center;
    padding: 10px;
    border-radius: 10px;
 }

 button{
    background-color: darkkhaki;
    color: darkolivegreen;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
 } 

 button:hover{
    background-color: darkolivegreen;
 }
 




